<div class="footer-bottom-container">
    <div class="grid-container full">
        <div class="grid-x">
            <div class="small-12 footer-index" style="background-color: blue;">
                <a href="sensorAdmin">Admin Page</a>
            </div>
        </div>
    </div>
</div>