<script tempType="text/template" id="metaTemplate">
    <% for(sensor in data) { %>
        <div class="small-2">
            <p><%= data[sensor]["Name"] %></p>
        </div>
        <div class="small-2">
            <p><%= data[sensor]["Type"] %></p>
        </div>
        <div class="small-2">
            <p><%= data[sensor]["Location"] %></p>
        </div>
        <div class="small-2">
            <p><%= data[sensor]["lastSeen"] %></p>
        </div>
        <div class="small-4" data-sensor="<%= data[sensor]['Name'] %>">
            <button class="button buttonEdit">Edit</button>
            <button class="button buttonDelete">Delete</button>
        </div>
    <% } %>
</script>