<script tempType="text/template" id="recentReadingsTemplate">
    <% 
    for(tempLocation in data) { %>
        <div class="small-12 sensor-location">
            <div><p><%= tempLocation %></p></div>
        </div>
        <% for(tempType in data[tempLocation]) { %>
            <div class="small-12 sensor-type">
                <div><p><%= tempType %></p></div>
            </div>
            <div class="small-12 grid-x sensors-container">
                <% for(tempSensor in data[tempLocation][tempType]) { 
                    var theSensor = data[tempLocation][tempType][tempSensor]; %>
                    <div    class=" small-4 medium-1 selectable <%= theSensor['selected'] %>  
                                    <%= theSensor['State'] %> padding-small 
                                    center-horizontally-parent center-vertically-parent"
                            data-name="<%= theSensor['Name'] %>"
                            data-type="<%= theSensor['sensorType'] %>"
                            data-location="<%= theSensor['sensorLocation'] %>">
                        <p class="center-vertically-child"><%= theSensor['Name'] + ": " + theSensor['reading'] %></p>
                    </div>
                <% } %>
            </div>
         <% }
    } %>
</script>