<script tempType="text/template" id="recentReadingsTemplate">
    <% 
    for(tempLocation in data) { %>
        <div class="small-12 sensor-location">
            <% var today = new Date();
                var hour = today.getHours();
                var min = today.getMinutes(); 
                var seconds = today.getSeconds();
                if (hour < 10) {
                    hour = '0' + hour;
                }
                if (min < 10) {
                    min = '0' + min;
                }
                if (seconds < 10) {
                    seconds = '0' + seconds;
                }%>
            <div>
                <span><%= tempLocation %></span>
                <% if(Object.keys(data)[0] === tempLocation) { %>
                    <span style="float: right;">Last Updated <%= hour + ":" + min + " " + seconds + "s" %></span>
                <% } %>
            </div>
        </div>
        <% for(tempType in data[tempLocation]) { %>
            <div class="small-12 sensor-type">
                <div><p><%= tempType %></p></div>
            </div>
            <div class="small-12 grid-x sensors-container">
                <% for(tempSensor in data[tempLocation][tempType]) { 
                    var theSensor = data[tempLocation][tempType][tempSensor];
                    var tempName = theSensor["Name"].split("_");
                    var tempNameArray = [];
                    for(var p = 0; p < tempName.length; p++) {
                        if(p === 0 || p === 1) {
                            continue;
                        }
                        tempNameArray.push(tempName[p]);
                    }
                    var displayName = tempNameArray.join(" "); %>
                    <div    class=" small-4 medium-2 large-1 selectable <%= theSensor['selected'] %>  
                                    <%= theSensor['State'] %> padding-small 
                                    center-horizontally-parent center-vertically-parent"
                            data-name="<%= theSensor['Name'] %>"
                            data-type="<%= theSensor['sensorType'] %>"
                            data-location="<%= theSensor['sensorLocation'] %>">
                        <div class="center-vertically-child">
                            <p><%= displayName %></p>
                            <p><%= theSensor['reading'] %></p>
                        </div>
                        <!-- <p class="center-vertically-child"><%= displayName + ": " + theSensor['reading'] %></p> -->
                    </div>
                <% } %>
            </div>
         <% }
    } %>
</script>