<script type="text/template" id="recentReadingsTemplate">
    <% for(sensor in data) { %>
        <div class="small-6 medium-1 grid-x">
            <p><%= sensor + ": " + data[sensor]['reading'] %></p>
        </div>
    <% } %>
</script>