{% extends "layouts/base.twig" %}

{% block content %}
	<div class="grid-container full">
        <div id="readingContainer" class="grid-x">

        </div>
    </div>
    <div class="grid-container full graph-controls">
        <div class="grid-x headspace-2">
            <div class="small-5 medium-3">
                <input readonly="true" id="inputStartRange" type="text" name="startRange" placeholder="Start Date (YYYY/MM/DD)">
            </div>
            <div class="small-5 medium-3">
                <input readonly="true" id="inputEndRange" type="text" name="endRange" placeholder="End Date (YYYY/MM/DD)">
            </div>
            <div class="medium-2"></div>
            <div class="small-2 medium-4">
                <button class="button">Generate Graph</button>
            </div>
        </div>
    </div>
    <div class="reveal large" id="modalShowGraph" data-reveal>
        <div class="grid-container full">
            <div id="graphContainer" class="small-12">
                <h1>Loading Graph...</h1>
            </div>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}