html {
    height: 100%;
    overflow-x: hidden;
} 
body, .body-grid {
    height: 100%;
    min-height: 100%;
}
p {
    margin: 0;
}

/*  ====================================================================================
    ====================================================================================
                                CSS For Templates
    ====================================================================================
    ====================================================================================
*/

/*  ==================================================================================== */
/*  Page Structure Classes                                                               */
/*  ==================================================================================== */

#header-container {
    
}

#footer-container {
    position: relative;
    min-height: 100px;
    width: 100%;
}
    .footer-bottom-container {
        position: absolute;
        width: 100%;
        bottom: 0px;
        min-height: 100px;
    }

/*  ==================================================================================== */
/*  Utility Classes                                                                      */
/*  ==================================================================================== */

.center-vertically-parent {
    display: flex;
    align-items: center;
}
    .center-vertically-child {
        margin: auto 0;
    }
    .center-horizontally-parent .center-vertically-child {
        margin: auto;
    }
.center-horizontally-parent, .center-horizontally-parent th {
    text-align: center;
}